<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Lets the screen find the system's equalizer to open: from Android 11, an app sees only what it declares. -->
    <queries>
        <intent>
            <action android:name="android.media.action.DISPLAY_AUDIO_EFFECT_CONTROL_PANEL" />
        </intent>
    </queries>

</manifest>
